name: Publish to NPM

on:
  pull_request:
    branches:
      - dev
    types: closed

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v2

    - name: Setup Node Registry
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'
        registry-url: 'https://registry.npmjs.org/'

        # scope: taimoormk
    # - run: yarn config set registry 'https://registry.npmjs.org/'

    - name: Publish to NPM
      run: |
        yarn
        yarn publish:npm
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
